@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css");
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&display=swap');
@import "/assets/overrides.scss";
@import "vue3-colorpicker/style.css";
*,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
}

input {
    padding: 1rem;
    border-radius: 1.5;
    &:focus {
        box-shadow: 0 0 0 0.2rem #dddddd !important;
        border-color: #8b8b8b !important;
    }
    &:hover {
        border-color: rgb(138, 137, 137) !important;
    }
}

body {
    overflow-x: hidden;
    // background-color: #75bdf870;
    background-color: #f8f8f8;
}

ul {
    list-style: none;
    li {
        text-decoration: none;
    }
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.side-enter-from {
    transform: translatex(-40px);
    opacity: 0;
}

.side-enter-to {
    transform: translatex(0);
    opacity: 1;
}

.side-enter-active {
    transition: all 0.2s ease-out;
}

.side-leave-from {
    transform: translatex(0);
    opacity: 1;
}

.side-leave-to {
    transform: translatex(-40px);
    opacity: 0;
}

.side-leave-active {
    transition: all 0.2s ease-out;
}

.menuitem {
    border-bottom: 2px solid #cccccc2d;
    padding-bottom: 1rem;
}
.myborder{
    border-bottom: 2px solid rgba(204, 204, 204, 0.1764705882);
}